div .nav {
  background-color: black;
  color: whitesmoke;
  margin-top: -26px;
  height: 60px;
  padding: 38px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

div .allships {
  margin: 3%;
}
div .starship-card {
  background-color: #008080;
  margin: 2%;
  height: 15vh;
  width: 30vh;
  display: inline-flex;
  justify-content: center;
  border-radius: 3%;
}
.card-link {
  color: whitesmoke;
  line-height: 7;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.detail-card {
  background-color: #008080;
  height: 30vh;
  width: 50vh;
  margin: auto;
  margin-top: 10%;
  padding: 2vh;
}

.prop {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: whitesmoke;
}

.background {
  height: 500vh;
  width: 100vh;
}

.starship-btn {
  background-color: whitesmoke;
  color: black;
  line-height: 5;
  text-decoration: none;
  font-size: 35px;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6%;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 740px;
  bottom: 540px;
}
.starship-btn-div {
  height: 500px;
  width: 500px;
  text-align: center;
  padding: 200px;
}

.bg-image {
  background-image: url('https://i.imgur.com/bsgIG7Q.jpg');
  background-size: cover;
}